/**
 * @name: Test Project
 * @description: This is a demo use of `Gulp Workflow`
 * @author: littledu
 */

/* Import Less files */

@import "lib-mixins";
@import "lib-reset";
@import "lib-animation";

/* Import lib-rem.less if supportREM opened. */
/* @import "lib-rem"; */

/* Import modules like `header.less` */

// @import "header";
@import "tips";

@iphone4like: ~"only screen and (max-height: 480px)";

html, body {
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #62c6de;
}

.loading{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #62c6de;
}

.loading__inner{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -35px;
    margin-top: -16px;
    width: 70px;
    height: 39px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    background-color: #62c6de;
}

.loading__img{
    width: 70px;
    height: 39px;
    background: url(../img/loading.png) no-repeat;
    background-size: 70px auto;
}

.loading-num{
    position: absolute;
    left: 0;
    bottom: -30px;
    width: 100%;
    text-align: center;
}
.wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #62c6de;
    background-image: url(../img/blue_bg.png);

}

.screen {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
}


.screen__inner,#canvas,#WxMomentVideo,#videoTrigger {
    position: absolute;
    width: 320px;
    height: 504px;
    top: 50%;
    left: 50%;
    margin: -252px 0 0 -160px;
    overflow: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
}
#videoTrigger,#WxMomentVideo {
  background-image: url(../img/video-thumb.jpg);
  background-repeat: no-repeat;
  background-position: center;
  .background-size(320px);
}
#videoTrigger {
  width: 320px;
  height: 207px;
  margin-top: -103px;
}
#WxMomentVideo {
  //top:-100%;
  height:1px;
  width: 1px;
  margin-top: -100px;
}

.screen__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.screen1__pic1 {
    position: absolute;
    left: 0px;
    bottom: 25px;
    width: 100%;
    height:78px/2;
    opacity: 0;
    text-align: center;
    font-size: 12px;
}

.screen1__pic2{
    position: absolute;
    right: 2%;
    bottom: 8%;
    width:60px;
    height:60px;
    opacity: 0;
}


.screen2__pic1{
    position: absolute;
    left: 50%;
    top: 3%;
    margin-left: -60px;
    width: 120px;
    height:78px;
    background: url(../img/loading.png) no-repeat;
    .background-size(120px);
}

.screen2__pic2{
    position: absolute;
    left: 0%;
    top: 19%;
    width: 100%;
    // background: url(../img/logo.png) no-repeat;
    color:#0d3d65;
    font-weight: bold;
    text-align: center;
}
.screen2__pic3{
    position: absolute;
    left: 25%;
    bottom: 7%;

    width:194px/2;
    height:95px/2;
    background: url(../img/txt1.png) no-repeat;
    background-size: (194px/2);
}

.screen2__pic4{
    position: absolute;
    right: 18%;
    bottom: 8%;
    width:75px;
    height:75px;
}

.screen2__pic5{
    position: absolute;
    left: 14%;
    bottom: 11%;

    width:194px/2;
    height:95px/2;
    background: url(../img/txt2.png) no-repeat;
    background-size: (194px/2);
}
.screen-arrow{
    position: absolute;
    left: 50%;
    bottom: 80px;
    width: 66px/2;
    height: 36px/2;
    margin-left: -66px/4;
    background: url(../img/screen_arrow.png) no-repeat;
    opacity: 0;
    .background-size(66px/2);
}

.current {
  .screen-arrow{
      .animation(swipeMove 1.5s 1s ease infinite);
  }
  .screen1__pic1{
      .animation(fade-in 1.5s 1.5s ease both);
  }
  .screen1__pic2{
      .animation(fade-in 1.5s 1.5s ease both);
  }


}
